<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="<%= defined?(tasks_path) && user_signed_in? ? tasks_path : '#' %>">
    <div class="sidebar-brand-icon">
      <i class="fas fa-user-shield"></i>
    </div>
    <div class="sidebar-brand-text mx-2">Área restrita</div>
  </a>
  <hr class="sidebar-divider my-0">
  <% if user_signed_in? %>
    <!--    <li class="nav-item active">-->
    <%#= link_to tasks_path, class: "nav-link" do %>
      <!--        <i class="fas fa-chart-line"></i>
        <span>Dashboard</span>
      <%# end %>-->
      <!--    </li>-->
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
        aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-user-check"></i>
          <span>Convidados</span>
        </a>
      </li>
    <% end %>
  </ul>
