</nav>
<nav class="navbar navbar-light bg-white topbar mb-4 static-top shadow">
  <ul class="navbar-nav ml-auto">
    <%= button_to "Sair", destroy_user_session_path, method: :delete, class: "btn btn-primary mr-2" %>
  </ul>
</nav>
