<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="invite">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="image-container mb-4">
              <%= image_tag("sponsor_invite.webp") %>
            </div>
            <div class="text-center">
              <%= link_to 'Confirmar presença', new_sponsor_path, "data-controller":"invite-modal", class: 'btn btn-primary' %>
              <%= link_to 'Localização', "https://www.google.com/maps/place/Joa%C3%A7aba,+State+of+Santa+Catarina,+Brazil/@-27.174469,-51.505182,17z/data=!4m6!3m5!1s0x94e3faab3e246e29:0x76930ccaad948e2a!8m2!3d-27.1743773!4d-51.5054475!16zL20vMGM5MWR3?hl=en&entry=ttu", class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </body>
    </html>
